@use "../abstracts" as *;

/* -------------------------------------------------- */
/* ---------- Style des boutons ---------- */
/* -------------------------------------------------- */

.button-primary {
  background-color: $blue;
  border: 1px solid $orange;
  color: $orange;
  padding: .8rem 2rem;
  border-radius: 50px;
  transition: $transition;

  &:hover {
    background-color: $orange;
    color: $blue;
  }
}

.button-secondary {
  background-color: $orange;
  border: 1px solid $orange;
  color: $blue;
  padding: .8rem 2rem;
  border-radius: 50px;
  transition: $transition;

  &:hover {
    background-color: $blue;
    color: $orange;
  }
}

.button-tertiary {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}