@use "../abstracts" as *;

.feature-card {
  padding: 2rem;
  background-color: rgba($color: $orange, $alpha: 0.1);
  border-radius: 6px;
  max-width: 35rem;
  @include flex-center;
  flex-direction: column;

  &_image {
    padding: 1.5rem;
    background-color: $white;
    border-radius: 50%;
    margin-bottom: 1rem;

    img {
      height: 4rem;
      width: auto;
    }
  }

  &_title {
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }

  &_text {
    text-align: center;
  }
}