@use "../abstracts" as *;

/* -------------------------------------------------- */
/* ---------- Style du header ---------- */
/* -------------------------------------------------- */

.header {
  background-color: $blue;
}