@use '../abstracts' as *;

* {
    line-height: 1.2;
}

/* -------------------------------------------------- */
/* ---------- Titre ( Heading ) ---------- */
h1, h2, h3 {
    font-family: $font-primary;
    font-weight: $fregular;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

/* -------------------------------------------------- */
/* ---------- Paragraphe ---------- */

p,
a,
span,
strong,
label {
    font-size: 1.6rem;
    text-decoration: none;
}

/* -------------------------------------------------- */
/* ---------- Responsive ---------- */

@include responsive( 'md' ) {
    h1 {
        font-size: 4rem;
        line-height: 4.2rem;
    }

    h2 {
        font-size: 3rem;
        line-height: 3.2rem;
    }

    h3 {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
}