@use "../abstracts" as *;

/* -------------------------------------------------- */
/* ---------- Page d'accueil du site ---------- */
/* -------------------------------------------------- */

.home {
  &-banner {
    padding-top: 11rem;
    min-height: 100vh;
    color: $white;
    background-image: radial-gradient(circle 700px at 50% 80%, $light_blue, $blue);

    &_title {
      font-size: clamp(3rem, 12vw, 9rem);
      text-align: center;

      span {
        color: $orange;
        font-family: inherit;
        font-size: inherit;
      }
    }

    &_subtitle {
      font-size: clamp(1.5rem, 4vw, 2rem);
      text-align: center;
      margin-top: 2rem;
    }

    &_buttons {
      @include flex-center;
      gap: 2rem;
      margin-top: 4rem;

      .btn-first {
        &:hover {
          background-color: inherit;
        }
      }

      .btn-second {
        background-color: inherit;

        &:hover {
          background-color: $orange;
        }
      }
    }
  }

  &-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;

    &_title {
      text-align: center;
      margin-top: 4rem;

      span {
        color: $orange;
        font-family: inherit;
        font-size: inherit;
      }
    }

    &_items {
      @include flex-center;
      flex-wrap: wrap;
      gap: 4rem 7rem;
      margin: 4rem 0 3rem;
    }
  }

  &-faq {
    padding: 6rem 10rem;
    background-color: rgba($color: $orange, $alpha: 0.1);
  }
}