$font-primary: "CalSans", "Arial", sans-serif;
$font-secondary: "Sora", "Arial", sans-serif;

$flight: 300;
$fregular: 400;
$fmedium: 500;
$fsemibold: 600;
$fbold: 700;

/* ----- Import ----- */
@font-face {
    font-family: 'CalSans';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/CalSans-Regular.ttf);
}

@font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Sora-Regular.ttf);
}

@font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    src: url(./assets/fonts/Sora-SemiBold.ttf);
}

/* -------------------------------------------------- */
/* ---------- Couleurs ---------- */

$white: #FFF9F7;
$blue: #132541;
$orange: #FC7942;
$light_blue: #4E63D7;
$green: #34A92F;

$transition: all .15s ease-out;

/* -------------------------------------------------- */
/* ---------- Responsive variable ---------- */

$breakpoints: (
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
);
