@import "tailwindcss";
@import "tw-animate-css";

:root {
  --secondary: #FC7942;
  --light-blue: #4E63D7;
  --background: #FFF9F7;
  --foreground: #132541;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-light-blue: var(--light-blue);
  --font-calsans: var(--font-cal-sans);
  --font-sora: var(--font-sora);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #132541;
    --foreground: #FFF9F7;
  }
} */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), Arial, sans-serif;
}

/* Boutons personnalisés */
@layer components {
  /* Bouton principal */
  .btn-primary {
    @apply inline-flex items-center justify-center px-6 py-3 text-sm font-semibold rounded-full;
    @apply bg-secondary text-background;
    @apply border-2 border-secondary;
    @apply hover:bg-background hover:text-secondary;
    @apply active:bg-secondary/80 active:scale-95;
    @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-secondary disabled:active:scale-100;
    @apply transition-all duration-300 ease-in-out;
  }

  /* Bouton secondaire */
  .btn-secondary {
    @apply inline-flex items-center justify-center px-6 py-3 text-sm font-semibold rounded-full;
    @apply bg-background text-secondary;
    @apply border-2 border-secondary;
    @apply hover:bg-secondary hover:text-foreground;
    @apply active:bg-secondary/20 active:scale-95;
    @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-transparent disabled:active:scale-100;
    @apply transition-all duration-300 ease-in-out;
  }

  .btn-tertiary {
    @apply inline-flex items-center justify-center px-6 py-3 text-sm font-semibold rounded-full;
    @apply bg-inherit text-foreground;
    @apply border-2 border-foreground;
    @apply hover:bg-foreground hover:text-background;
    @apply active:bg-foreground/20 active:scale-95;
    @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-transparent disabled:active:scale-100;
    @apply transition-all duration-300 ease-in-out;
  }

  /* Bouton pleine largeur */
  .btn-full {
    @apply w-full;
  }

  /* Section wrapper */
  .section-wrapper {
    @apply mx-auto max-w-3xl lg:max-w-5xl xl:max-w-7xl py-5 lg:py-8 px-5 lg:px-0;
  }

  /* ************************** */
  /* ********* Titre ********** */
  /* ************************** */

  h1 > span,
  h2 > span,
  h3 > span {
    @apply text-secondary;
  }

  /* Titre h1 */
  .title-hero {
    @apply text-3xl mb-2 md:text-4xl lg:text-5xl;
  }

  /* Titre section */
  .title-section {
    @apply text-2xl mb-2 md:text-3xl lg:text-4xl;
  }

  /* Titre sous section */
  .title-subsection {
    @apply text-xl mb-2 md:text-2xl lg:text-3xl;
  }
}